<li id="achievement-{{text-type}}" class="{{#class}} {{.}}{{/class}}">
  <div class="achievement-name">{{text-name}}</div>
  {{#html-hint}}<div class="achievement-hint">{{{.}}}</div>{{/html-hint}}
  {{#html-description}}<div class="achievement-description">{{{.}}}</div>{{/html-description}}
</li>
