<li id="achievement-{{text-type}}" class="{{text-class}}">
  <img class="achievement-icon" src="{{text-icon}}" alt="">
  <div class="achievement-text">
    <h3 class="achievement-name">{{text-name}}</h3>
    {{#html-hint}}<div class="achievement-hint">{{{.}}}</div>{{/html-hint}}
    {{#html-description}}<div class="achievement-description">{{{.}}}</div>{{/html-description}}
    {{#data-time}}<div class="achievement-timestamp" title="{{text-timestamp}}">{{text-time-period}}</div>{{/data-time}}
  </div>
</li>
