<img class="achievement-icon" src="{{text-icon}}">
<h2 class="achievement-name">{{text-name}}</h2>
<div class="achievement-username">{{text-obtainer}}</div>
<div class="achievement-timestamp" title="{{text-timestamp}}">{{text-time-period}}</div>
