<div class="message">{{{text-message}}}</div>
<div class="achievement-name">{{text-name}}</div>
<img class="achievement-icon" src="{{text-icon}}" alt="">
<div class="achievement-description">{{{text-description}}}</div>
<h3 class="share-achievement">{{text-share-header}}</h2>
<ul class="share-media">
  {{#data-share}}<li><a id="{{text-id}}" href="{{text-url}}" target="_blank"><span>{{text-text}}</span></a></li>{{/data-share}}
</ul>
{{#has-suggestion}}<div class="achievement-suggestion">{{{text-suggestion}}}</div>{{/has-suggestion}}
