<div class="message">{{{text-message}}}</div>
<div class="achievement">
  <img class="achievement-icon" src="{{text-icon}}" alt="">
  <div class="achievement-text">
    <h2 class="achievement-name">{{text-name}}</h2>
    <div class="achievement-description">{{{text-description}}}</div>
    <div class="achievement-timestamp" title="{{text-timestamp}}">{{text-time-period}}</div>
  </div>
</div>
<div class="sub-message">{{{text-sub-message}}}</div>
<h3 class="share-achievement">{{text-share-header}}</h2>
<ul class="share-media">
  {{#data-share}}<li><a id="{{text-id}}" href="{{text-url}}" target="_blank"><span>{{text-text}}</span></a></li>{{/data-share}}
</ul>
