@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: inherit;
  }
}

.achievements {
  list-style-type: none;
  padding-left: 0;

  .achievement {
    margin-bottom: 1em;

    &.not-earning {
      color: gray;
    }
    &:target {
      animation: fade-in 1s forwards ease;
    }

    .achievement-name {
      font-weight: bold;
    }
  }
}
