@import 'achievement.less';

.achievement-list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;

  .achievement {
    margin-bottom: 0.5em;
  }

  .achievement.not-earning {
    opacity: 40%;

    .achievement-icon {
      filter: grayscale(1);
    }
  }
}
